@if (Number < 18.6)
{
    <h1 class="warning">@Number.ToString("0")</h1>
}
else if (Number >= 18.6 && Number <= 24.9)
{
    <h1 class="success">@Number.ToString("0")</h1>
}
else if (Number >= 24.9)
{
    <h1 class="danger">@Number.ToString("0")</h1>
}

@code {
    [Parameter] [EditorRequired] public double Number { get; set; }
}