@page "/"

<PageTitle>Calculadora IMC</PageTitle>

<div class="container">
    <Slide Id="calculator">
        <img src="imgs/icon-no-bg.png" alt="Calculadora de IMC">
        <h1>Calculadora de IMC</h1>
        <Calculator/>
    </Slide>
    <Slide Id="history">
        <History />
    </Slide>
    <Slide Id="about">
        <h1>Sobre</h1>
    </Slide>
</div>

